---
import { getEntryBySlug } from "astro:content";

const about = await getEntryBySlug("demo", "newempire");
const { gallery, features } = about.data;
const page_data = {
  ...about.data,
  content: about.body,
};
---

<Base
  title={about.data.title}
  meta_title={about.data.meta_title}
  description={about.data.description}
  image={about.data.image}
>
  <Shape />
<h1>test</h1>
</Base>
